<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
		https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">
	<display-name>Emergency Medical Services</display-name>
	<welcome-file-list>
    <welcome-file>home/index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/Error.jsp</location>
	</error-page>
	
	<!-- Servlet Mappings -->
	<servlet>
		<servlet-name>RegisterController</servlet-name>
		<servlet-class>net.ems.web.RegisterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterController</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AvailController</servlet-name>
		<servlet-class>net.ems.web.AvailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AvailController</servlet-name>
		<url-pattern>/avail</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DonorController</servlet-name>
		<servlet-class>net.ems.web.DonorController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DonorController</servlet-name>
		<url-pattern>/donor</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RecipientController</servlet-name>
		<servlet-class>net.ems.web.RecipientController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecipientController</servlet-name>
		<url-pattern>/recipient</url-pattern>
	</servlet-mapping>
	
</web-app>